{
  "extends": "stylelint-config-standard",
  "ignoreFiles": [
    "**/Public/**",
    "**/Private/Templates/**",
    "node_modules/**",
    "**/*.noLinter.*"
  ],
  "rules": {
    "no-descending-specificity": null,
    "no-duplicate-selectors": null
  }
}
